<mat-tab-group mat-align-tabs="end">
    <mat-tab label="Home">
        <div class="example-large-box mat-elevation-z4">
            Welcome to Homepage!
        </div>
    </mat-tab>
    <mat-tab (selectedTabChange)="loadFooter();" label="About Us">
        <div class="example-large-box mat-elevation-z4">
            <app-about-us></app-about-us>
        </div>
    </mat-tab>
    <mat-tab label="Specialities">
        <div class="example-large-box mat-elevation-z4">
            Welcome to Specialities!
        </div>
    </mat-tab>
    <mat-tab label="Feedback">
        <div class="example-large-box mat-elevation-z4">
            Welcome to Fedback!
        </div>
    </mat-tab>
    <mat-tab label="Contact Us">
        <div class="example-large-box mat-elevation-z4">
            <app-contact-us></app-contact-us>
        </div>
    </mat-tab>
</mat-tab-group>