<<<<<<< Updated upstream
=======
#main { 
  width: 100%;
  margin: 0 auto;
}

.example-large-box {
    /* display: flex; */
    float: left;
    align-items: center;
    justify-content: center;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
    height: 450px;
    width: 65%;
  }

.example-login {
  /* float: right; */
   align-items: center;
  justify-content: center; 
   margin-left: 70%; 
   margin-top: 20px;
  padding: 16px;
  border-radius: 8px; 
  height: 450px;
  width: 25%;
}
>>>>>>> Stashed changes
